.all{
    max-width: 1150px;
    margin: 0% auto;
    padding-left:10px;
    padding-right: 10px;
}
.content{
display: flex;
flex-direction: row;
gap:10em;

}
.main-word{
    font-family: var(--third-family);
font-weight: 400;
font-size: 60px;
color: #000;
margin-top: 120px;
max-width: 376px;
width: 100%;
}
.col{
display: flex;
}

.base {

}
.base-input {
}
.base-input__title {
    margin-top: 10%;
    border: 2px solid #000;
max-width: 400px;
width: 100%;
height: 66px;
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: rgba(0, 0, 0, 0.51);
padding-left: 5%;
}
.base-input__limit {
}
.base-input__main {
    padding-top: 10px;
    margin-top: 5%;
    border: 2px solid #000;
max-width: 400px;
width: 100%;
height: 320px;
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: rgba(0, 0, 0, 0.51);
padding-left: 5%;
}
.base-btn {
}
.base-btn__public {
    
    margin-top: 10%;
    border: 2px solid #3253ff;
    max-width: 400px;
    width: 100%;
   height: 62px;
   background: #3253ff;
   font-family: var(--third-family);
font-weight: 400;
font-size: 25px;
color: #fff;

}
.post-section {
}
.main-word-lents{
    margin-top: 120px;
    font-family: var(--third-family);
font-weight: 400;
font-size: 60px;
color: #000;
}
.post {
    word-wrap: break-word; /* свойство, чтобы текст  не выходил за пределы div */
}
.base-data {
}
.post-title{
    margin-top: 5%;
    max-width: 563px;
    width: 100%;
    font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
color: rgba(0, 0, 0, 0.9);
}
.post-text{
    margin-top: 2%;
    max-width: 563px;
    width: 100%;
  padding-right: 50px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 3vmax; 
font-size: 2vw;
color: rgba(0, 0, 0, 0.8);
margin-bottom: 2%;
}
.post-data{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: rgba(7, 121, 255, 0.8);
}
.addPhoto__btn{
margin-top: 10%;
border: 2px solid #000;
max-width: 253px;
width: 100%;
height: 43px;
background: none;
cursor: pointer;
}
.addPhoto__text{
    color: gray;
}
.addImg{
display: none;
max-width: 500px;
min-width: 100px;
width: 100%;
}